venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
*.egg-info/
*.DS_Store
.idea/
*.vscode/
*.pytest_cache/
*.coverage
*.mypy_cache/
*.pylintrc
*.tox/
*.coverage.*
*.dist-info/
